.container {
  display: flex; /* or inline-flex */
}

h1 {
  margin: 0;
}

.big-heading {
  font-family: Verdana;
}

.main-content {
  background: #121213;
  padding: 0 60px;
  color: rgb(89, 211, 180);
}
.section-heading {
  /* Add your own font here */
}

.nav__list {

}

.nav__list_item {

}

.page {

}

.page__header {
  background-color: #121213;;

}
.page__content {
  background-color: #121213;

}

.left-content {
  background-color: #121213;

}

.right-content {
  background-color: #121213;
}

.main-content { 
  background-color: #121213;

}

.main-content__section {
  background-color: #121213
  ;

}